<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pubnub.examples.filterdemo"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="17"/>

    <application android:allowBackup="true"
                 android:icon="@drawable/pubnub_large"
                 android:label="@string/app_name"
                 android:theme="@style/AppTheme">

        <activity android:name="com.pubnub.examples.filterdemo.MainActivity"
            	  android:windowSoftInputMode="adjustPan"
            	  android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>